<ion-header class="bg_transparent">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'my_profile' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="bg_color" fullscreen>
  <div class="banner">
    <div class="banner_img center_img">
      <img src="assets/images/banner_img.png" class="crop_img">
    </div>
    <div class="profile_img animate__animated animate__zoomIn">
      <div class="img_box center_img">
        <img src="assets/images/profile.png" class="crop_img">
        <!--                <ion-icon class="zmdi zmdi-account"></ion-icon>-->
      </div>
      <ion-icon class="zmdi zmdi-camera"></ion-icon>
    </div>
  </div>

  <div class="form">
    <ion-list lines="none">
      <ion-item lines="none" class="animate__animated animate__fadeInUp">
        <ion-input labelPlacement="floating" [label]="'full_name' | translate" mode="md" type="name"
          value="Samantha Smith" readonly="boolean"></ion-input>
      </ion-item>

      <ion-item lines="none" class="animate__animated animate__fadeInUp">
        <ion-input labelPlacement="floating" [label]="'email_address' | translate" mode="md" type="email"
          value="samanthasmith@mail.com" readonly="boolean"></ion-input>
      </ion-item>

      <ion-item lines="none" class="animate__animated animate__fadeInUp">
        <ion-input labelPlacement="floating" [label]="'phone_number' | translate" mode="md" type="email"
          value="+1 987 654 3210" readonly="boolean"></ion-input>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
