<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'Template' | translate }}
        </ion-title>
        <ion-label slot="end">
            @if (templateForm.controls.id.value) {
            <ion-button color="dark" fill="clear" size="small" (click)="openSettings()">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
            }
        </ion-label>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <form [formGroup]="templateForm">
        <div class="form">
            <ion-list>
                <ion-item>
                    <ion-input label="{{ 'Name' | translate }}" labelPlacement="floating" formControlName="name"
                        type="text"></ion-input>
                </ion-item>
            </ion-list>
            <ion-item lines="none" class="day-item" formArrayName="exercises">
                <ion-label>
                    @for (exercise of exercisesArray.controls; track $index; let exIndex = $index) {
                    <ion-item lines="none" [formGroupName]="exIndex" class="ion-no-border">
                        <app-exercise-form [style.width]="'100%'" [exercise]="exercise"
                            (onRemoveExerciseEvent)="removeExercise( exIndex)">
                        </app-exercise-form>
                    </ion-item>
                    }
                    @empty {
                    <ion-label class="ion-text-center ion-padding" [color]="'medium'">
                        {{ 'No exercises added yet.' | translate }}
                    </ion-label>
                    }

                    <ion-button fill="clear" expand="block" (click)="addExercises()">
                        {{ 'Add exercise' | translate }}
                    </ion-button>
                </ion-label>
            </ion-item>
        </div>
    </form>
</ion-content>