<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'My trainers' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Amenda Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Russeil Taylor</h2>
                    <h3>Muscle Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Lliana George</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Suzein Smith</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Amenda Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Russeil Taylor</h2>
                    <h3>Muscle Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Lliana George</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Suzein Smith</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>


        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Amenda Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Russeil Taylor</h2>
                    <h3>Muscle Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Lliana George</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Suzein Smith</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Amenda Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Russeil Taylor</h2>
                    <h3>Muscle Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Lliana George</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Suzein Smith</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Amenda Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Russeil Taylor</h2>
                    <h3>Muscle Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Lliana George</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Suzein Smith</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>


        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Amenda Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Russeil Taylor</h2>
                    <h3>Muscle Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Lliana George</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Suzein Smith</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Amenda Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Russeil Taylor</h2>
                    <h3>Muscle Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Lliana George</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Suzein Smith</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Amenda Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Russeil Taylor</h2>
                    <h3>Muscle Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Lliana George</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Suzein Smith</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Fitness Trainer</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="trainer_profile()">
            <div class="item-inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/gym_trainer_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter Johnson</h2>
                    <h3>Yoga Trainer</h3>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>