@import 'scss/global.scss';

.header-md {
    -webkit-box-shadow: none;
    box-shadow: none;
}

// TODO: GV, ion-inputs have min-height in new version: leave?
// .sc-ion-input-md-h {
//     min-height: unset;
// }

.d-none {
    display: none;
}

.img_box {
    background-size: cover !important;
    background-position-x: center !important;
    background-position-y: center !important;
}

ion-button {
    text-transform: none !important;
}

.active {
    color: var(--ion-color-primary);
}

.ion-no-border {
    border-bottom: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.error-text {
    padding-bottom: 10px;
}

[data-theme='light'] {
    .light-invert {
        filter: invert(1) !important;
    }
}