@import 'scss/global.scss';
@import 'scss/md/_md.scss';
@import 'scss/ios/_ios.scss';

.header-md {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.d-none {
    display: none;
}

.img_box {
    background-size: cover !important;
    background-position-x: center !important;
    background-position-y: center !important;
}

ion-button {
    text-transform: none !important;
}

.active {
    color: var(--ion-color-primary);
}

.ion-no-border {
    border-bottom: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.helper-text,
.error-text {
    padding-bottom: 10px;
}

[data-theme='light'] {
    .light-invert {
        filter: invert(1) !important;
    }

    ::-ms-reveal {
        filter: invert(100%);
    }
}

.footer-md {
    box-shadow: none !important;
}

.banner_img img {
    background: black;
}

ion-checkbox::part(container) {
    border-radius: 6px;
}

ion-picker {
    background: var(--bg-color);
}

button.action-sheet-destructive {
    --color: var(--ion-color-danger);

    span {
        color: var(--ion-color-danger);
    }
}

ion-item-options {
    border-bottom: none !important;
}

.reorder-selected {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 4px;

    ion-button {
        flex-grow: 1;
    }
}

.inner-card {
    border-radius: 10px;
    background: var(--ion-card-background);
}

ion-card {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 10px;
    margin: 5px 0px;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ion-textarea,
ion-input {
    --border-color: transparent !important;
}

.ion-no-padding {
    --inner-padding-end: 0px;
}

.fullscreen {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 9999;
    background-color: var(--ion-color-background);
}

.no-backdrop {
    backdrop-filter: unset;
}

.notes {
    background-color: rgba(var(--ion-color-secondary-rgb), 0.1);
    padding: 12px;
    border-radius: 8px;
    margin: 10px 0px;

    ion-icon {
        vertical-align: middle;
        margin-right: 8px;
    }
}