@import 'scss/global.scss';
@import 'scss/md/_md.scss';

.header-md {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.d-none {
    display: none;
}

.img_box {
    background-size: cover !important;
    background-position-x: center !important;
    background-position-y: center !important;
}

ion-button {
    text-transform: none !important;
}

.active {
    color: var(--ion-color-primary);
}

.ion-no-border {
    border-bottom: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.error-text {
    padding-bottom: 10px;
}

[data-theme='light'] {
    .light-invert {
        filter: invert(1) !important;
    }

    ::-ms-reveal {
        filter: invert(100%);
    }
}

.footer-md {
    box-shadow: none !important;
}

.banner_img img {
    background: black;
}

ion-checkbox::part(container) {
    border-radius: 6px;
}

ion-picker {
    background: var(--bg-color);
}

button.action-sheet-destructive {
    --color: var(--ion-color-danger);

    span {
        color: var(--ion-color-danger);
    }
}

ion-item-options {
    border-bottom: none !important;
}

.reorder-selected {
    -webkit-box-shadow: none;
    box-shadow: none;
}

// ion-item::part(native) {
//     padding: 0px 16px;
// }