server/pocketbase
server/pocketbase.exe
server/.DS_Store
*/pb_data
server/pb_data
server/pb_import/exercise-templates.json
node_modules
local-credentials.txt
keys
*/**/.deployed
*/**/*.zip
*/**/.DS_Store