<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color forgot-password-screen" fullscreen>
    <div class="background-image">
        <img src="assets/images/banner_img.png" alt="">
    </div>

    <div class="form-container">
        <div class="header-section">
            <button type="button" class="back-button" (click)="goBack()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </button>
            <h1 class="page-title">{{ 'Reset your password' | translate }}</h1>
        </div>

        <div class="input-group">
            <label class="input-label">EMAIL</label>
            <div class="input-wrapper">
                <ion-input [(ngModel)]="email" placeholder="Enter your Email" type="email" fill="solid"></ion-input>
                <ion-icon name="mail-outline" class="input-icon"></ion-icon>
            </div>
        </div>

        <ion-button expand="block" class="submit-button" (click)="submit()">
            {{'Submit' | translate}}
        </ion-button>
    </div>
</ion-content>