ion-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.banner {
    .logo {
        position: absolute;
        bottom: 59px;
        left: 0;
        width: 100%;
        padding: 0 30px;
        --animate-duration: .3s;
    }

    .banner_img {
        height: 200px;
    }
}

ion-header,
.banner {
    --ion-text-color: white;
    color: var(--ion-text-color);
}


.animate__animated.animate__fadeInUp {
    &:nth-child(1) {
        --animate-duration: .15s;
    }

    &:nth-child(2) {
        --animate-duration: .2s;
    }

    &:nth-child(3) {
        --animate-duration: .25s;
    }

    &:nth-child(4) {
        --animate-duration: .3s;
    }

    &:nth-child(5) {
        --animate-duration: .35s;
    }

    &:nth-child(6) {
        --animate-duration: .4s;
    }

    &:nth-child(7) {
        --animate-duration: .45s;
    }

    &:nth-child(8) {
        --animate-duration: .5s;
    }

}

.form {
    padding-top: 35px;
    ion-list {
       padding-bottom: 25px;
    }
}

ion-footer {
    padding: 0px 30px 14px 30px;
}