<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="banner">
        <div class="banner_img center_img">
            <img src="assets/images/banner_img.png" class="crop_img">
            <div class="logo animate__animated animate__fadeInUp">
                <h1>{{ 'Reset your password' | translate }}</h1>
            </div>
        </div>
    </div>

    <div class="form" >
        <ion-list>
            <ion-item class="animate__animated animate__fadeInUp">
                <ion-input [(ngModel)]="email" labelPlacement="floating" [label]="'Email' | translate"
                    type="email"></ion-input>
            </ion-item>
        </ion-list>
    </div>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-button size="large" expand="round" class="btn"
        (click)="submit()">{{'Submit' | translate}}</ion-button>
</ion-footer>