<ion-header class="bg_transparent" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'my_profile' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <form [formGroup]="profileForm" (ngSubmit)="saveChanges()">
        <div class="banner">
            <div class="banner_img center_img">
                <img src="assets/images/banner_img.png" class="crop_img">
            </div>
            <app-image-input [isEditing]="isEditing" formControlName="avatar"></app-image-input>
        </div>

        <div class="form">
            <ion-list>
                <ion-item class="animate__animated animate__fadeInUp">
                    <ion-input formControlName="name" labelPlacement="floating" [label]="'name' | translate" mode="md"
                        type="name"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-textarea fill="clear" formControlName="about" label="{{ 'about' | translate }}"
                        labelPlacement="floating" [counter]="true" maxlength="500" rows="4"
                        helperText="{{ 'about_helperText' | translate }}"></ion-textarea>
                </ion-item>

                <ion-item lines="none">
                    <ion-toggle [slot]="'start'" formControlName="isPublic" (ionChange)="onIsPublicToggle()">
                        {{ 'public' | translate }}
                    </ion-toggle>
                </ion-item>
            </ion-list>
        </div>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="button-group ion-padding">
            @if (isEditing) {
            <ion-button expand="round" color="light" (click)="cancelEditMode()" class="btn">
                {{ 'cancel' | translate }}
            </ion-button>
            <ion-button expand="round" class="btn" (click)="saveChanges()">
                {{ 'save' | translate}}
            </ion-button>
            } @else {
            <ion-button expand="round" class="btn" (click)="enterEditMode()">
                {{ 'edit' | translate }}
            </ion-button>
            }
        </div>
    </ion-toolbar>
</ion-footer>