<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen [scrollEvents]="true" (ionScroll)="onScroll($event)">
    @if (aiTrainer) {
    <div class="banner" [class.active]="showToolbar">
        <div class=" center_img">
            @if (this.aiTrainer == aiTrainers.RYPED) {
                <img src="assets/images/RYPED.png" class="crop_img">
            } @else {
                <img src="assets/images/RYPEM.png" class="crop_img">
            }
        </div>
        <div class="text_box">
            <div class="profile_info">
                <h2 class="d-flex"> </h2>
                <h3 class="d-flex">{{ 'AI Trainer' | translate }}</h3>
            </div>

            <div class="about">
                <h2> {{'about' | translate}}</h2>
                @if (this.aiTrainer == aiTrainers.RYPED) {
                    <p class="animate__animated animate__fadeInUp">
                        {{'Ryp Ed blends advanced analytics with adaptive training to optimize every rep, set, and session. Focused, efficient, and always on, engineered to elevate performance through precision and relentless support.' | translate}}
                    </p>
                }
                @else {
                    <p class="animate__animated animate__fadeInUp">
                        {{ 'Built for precision and progress, Ryp Em delivers customized training plans, realtime feedback, and data-driven motivation. Designed to guide, adapt, and push every user beyond limits with human like intuition and robotic consistency.' | translate }}
                    </p>
                }
            </div>
        </div>
    </div>
    } @else {
    <div class="banner" [class.active]="showToolbar">
        <div class="img_box center_img">
            <img src="assets/images/gym_trainer_1.png" class="crop_img">
        </div>
        <div class="text_box">
            <div class="profile_info">
                <h2 class="d-flex">Amenda Johnson <span class="end">1.5k</span></h2>
                <h3 class="d-flex">Fitness Trainer <span class="end">{{'followers' | translate}}</span></h3>
            </div>

            <div class="about">
                <h2> {{'about' | translate}}</h2>
                <p class="animate__animated animate__fadeInUp">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

                <p class="animate__animated animate__fadeInUp">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here,
                    content here', making it look like readable English.
                </p>

                <p class="animate__animated animate__fadeInUp">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable. If you are going to use a passage of Lorem Ipsum,
                    you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem
                    Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the
                    first true generator on the Internet.
                    It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
                    to generate Lorem Ipsum which looks reasonable.
                </p>

                <p class="animate__animated animate__fadeInUp">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up
                    one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the
                    cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                    sections 1.10.32 and 1.10.33 of
                    "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                    book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                    Lorem Ipsum, "Lorem ipsum dolor sit
                    amet..", comes from a line in section 1.10.32.
                </p>
            </div>
        </div>
    </div>
    }
</ion-content>

<!--<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-row>
        <ion-col size="6">
            <ion-button size="large" expand="round" fill="outline" class="btn" (click)="conversation()">
                {{'message' | translate}}
            </ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button size="large" expand="round" class="btn">
                {{'follow' | translate}}
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>-->