<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="clearAllFilters()">
                <ion-icon name="refresh-outline"></ion-icon>
                {{ 'Clear filters' | translate}}
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()">{{'cancel' | translate }}</ion-button>
            <ion-button (click)="applyFilters()" [strong]="true" color="primary">
                {{ 'Apply' | translate }} ({{ activeFiltersCount }})
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-x" #content>
    <div class="filter-section">
        <ion-item>
            <ion-label>
                <h2>{{'Equipment' | translate }}</h2>
            </ion-label>
        </ion-item>
        <div class="chip-container">
            @for (equipment of equipmentOptions; track equipment) {
            <ion-chip [color]="tempFilters['equipment']?.includes(equipment) ? 'primary' : 'medium'"
                (click)="toggleFilter('equipment', equipment)">
                {{ equipment | translate }}
            </ion-chip>
            }
        </div>
    </div>

    <div class="filter-section">
        <ion-item>
            <ion-label>
                <h2>{{'Level' | translate }}</h2>
            </ion-label>
        </ion-item>
        <div class="chip-container">
            @for (level of levelOptions; track level) {
            <ion-chip [color]="tempFilters['level']?.includes(level) ? 'primary' : 'medium'"
                (click)="toggleFilter('level', level)">
                {{ level | translate }}
            </ion-chip>
            }
        </div>
    </div>

    <div class="filter-section">
        <ion-item>
            <ion-label>
                <h2>{{'Category' | translate}}</h2>
            </ion-label>
        </ion-item>
        <div class="chip-container">
            @for (category of categoryOptions; track category) {
            <ion-chip [color]="tempFilters['category']?.includes(category) ? 'primary' : 'medium'"
                (click)="toggleFilter('category', category)">
                {{ category | translate }}
            </ion-chip>
            }
        </div>
    </div>

    <div class="filter-section">
        <ion-item>
            <ion-label>
                <h2>{{'Primary muscles' | translate}}</h2>
            </ion-label>
        </ion-item>
        <div class="chip-container">
            @for (muscle of muscleOptions; track muscle) {
            <ion-chip size="small" [color]="tempFilters['primaryMuscles']?.includes(muscle) ? 'primary' : 'medium'"
                (click)="toggleFilter('primaryMuscles', muscle);">
                {{ muscle | translate }}
            </ion-chip>
            }
        </div>
    </div>

    <div class="filter-section">
        <ion-item>
            <ion-label>
                <h2> {{ 'Force & Mechanic' | translate }}</h2>
            </ion-label>
        </ion-item>

        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-label>{{ 'Force' | translate }}:</ion-label>
                    <div class="chip-container">
                        @for (force of forceOptions; track force) {
                        <ion-chip size="small" [color]="tempFilters['force']?.includes(force) ? 'primary' : 'medium'"
                            (click)="toggleFilter('force', force)">
                            {{ force | translate }}
                        </ion-chip>
                        }
                    </div>
                </ion-col>

                <ion-col size="6">
                    <ion-label>{{ 'Mechanic' | translate }}:</ion-label>
                    <div class="chip-container">
                        @for (mechanic of mechanicOptions; track mechanic) {
                        <ion-chip size="small"
                            [color]="tempFilters['mechanic']?.includes(mechanic) ? 'primary' : 'medium'"
                            (click)="toggleFilter('mechanic', mechanic)">
                            {{ mechanic | translate }}
                        </ion-chip>
                        }
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>