<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'Assign' | translate }} @if (title) { "{{ title }}" }</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">{{'Cancel' | translate }}</ion-button>
            <ion-button (click)="assignToSelected()" [strong]="true" color="primary">{{'Assign' | translate
                }}</ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterUsers()"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        @for (user of filteredUsers; track $index) {
        <ion-item-sliding>
            <ion-item (click)="user.selected = !user.selected">
                <ion-avatar slot="start">
                    <img [src]="user.avatar ?? 'assets/images/avatar.svg'">
                </ion-avatar>
                <ion-label>
                    <ion-text class="ion-no-padding ion-text-start" [color]="user.selected ? 'primary' : ''">
                        {{ user.name }}
                    </ion-text> <br>
                    <ion-note>{{ user.email }}</ion-note>
                </ion-label>
                <ion-checkbox slot="end" [(ngModel)]="user.selected"></ion-checkbox>
            </ion-item>
            <ion-item-options side="start">
                <ion-item-option color="primary" (click)="navigateToUserProfile(user)">
                    <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>
        }

    </ion-list>
</ion-content>