<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'workout' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div #exerciseContent>
        @if (exercises.length > 0) {
        <div class="exercise-header">
            <h1>{{ currentExercise().controls.name.value }}</h1>
            <div class="tags">
                @for (tag of currentExercise().controls.tags.value; track tag) {
                <ion-chip color="primary" outline>{{ tag }}</ion-chip>
                }
            </div>
        </div>
        @if (currentExercise().controls.notes) {
        <div class="notes">
            <ion-icon name="information-circle-outline"></ion-icon>
            {{ currentExercise().controls.notes.value }}
        </div>
        }
        <div class="sets-container">
            <app-exercise-form #exerciseForm [style.width]="'100%'" [exercise]="currentExercise()" [workoutMode]="true"
                (restStartedEvent)="startRest($event)" (allCompletedEvent)="goToNextExercise()">
            </app-exercise-form>
        </div>
        }
    </div>
</ion-content>

@if (isResting) {
<ion-footer class="ion-no-border animate__animated animate__fadeInUp ion-padding-bottom skip-footer">
    <ion-button size="large" expand="round" shape="round" color="primary" (click)="stopRest()">
        <ion-icon slot="start" name="timer-outline"></ion-icon>
        {{'skip' | translate}} ({{ restTimeRemaining | duration }})
    </ion-button>
</ion-footer>
}


<ion-footer class="bg_transparent">
    <div class="footer-container">
        <div class="nav-buttons ion-padding-start ion-padding-end">
            <div class="prev-next-buttons">
                <ion-button fill="clear" shape="round" [disabled]="currentExerciseIndex() === 0"
                    (click)="goToPreviousExercise()">
                    <ion-icon name="play-skip-back-outline" name="chevron-back-outline"></ion-icon>
                </ion-button>
                @if (nextExercise()) {
                <div class="next-exercise">
                    <p class="next-label">{{ 'next' | translate }}: {{ nextExercise().controls.name.value }}
                        ({{ nextExercise().controls.sets.value?.length }} {{'sets' | translate}})</p>
                </div>
                }
                @if (currentExerciseIndex() === exercises.length - 1) {
                <ion-button fill="clear" shape="round" [disabled]="" (click)="completeExercise()">
                    <ion-note class="ion-color-primary ion-color">{{ 'complete' | translate }}</ion-note>
                    <!-- <ion-icon name="checkmark-done-outline"></ion-icon> -->
                </ion-button>


                } @else {
                <ion-button fill="clear" shape="round" [disabled]="" (click)="goToNextExercise()">
                    <ion-icon name="play-skip-forward-outline" name="chevron-forward-outline"></ion-icon>
                </ion-button>
                }
            </div>
        </div>
    </div>

    <div class="exercise-tabs">
        @for (exercise of exercises; track exercise; let i = $index) {
        <div class="exercise-tab" [ngClass]="{'active': currentExerciseIndex() === i}" (click)="selectExercise(i)">
        </div>
        }
    </div>
</ion-footer>