ion-header {
    background: var(--bg-color);

    ion-toolbar ion-title {

        img {
            width: 85px;
            display: block;
            margin: 0 auto;
        }
    }

    .segment-toolbar {
        padding-bottom: 10px;

    }

    ion-segment {
        width: min-content;

        ion-segment-button {
            width: min-content;
        }
    }
}

.duration {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: var(--ion-color-medium);
    margin-bottom: 8px;
}

.duration ion-icon {
    margin-right: 4px;
    font-size: 16px;
}

.status-icon {
    font-size: 24px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 4px;
}