<ion-header>
    <ion-toolbar>
        <ion-title><img src="assets/images/logo.png"></ion-title>
    </ion-toolbar>
    <ion-segment mode="ios" [(ngModel)]="tab" lines="none">
        <ion-segment-button mode="ios" value="trainer">
            <ion-label>
                {{'trainer' | translate}}
            </ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" value="standard">
            <ion-label>
                {{'standard' | translate}}
            </ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="tab_content" [ngSwitch]="tab">

        <ion-list lines="none" *ngSwitchCase="'trainer'">
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/1.png" class="crop_img">
                        <h2>Weight Loss Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/2.png" class="crop_img">
                        <h2>Weight Gain Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/3.png" class="crop_img">
                        <h2>Muscle Buliding Programs</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/1.png" class="crop_img">
                        <h2>Weight Loss Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/2.png" class="crop_img">
                        <h2>Weight Gain Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/3.png" class="crop_img">
                        <h2>Muscle Buliding Programs</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/1.png" class="crop_img">
                        <h2>Weight Loss Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/2.png" class="crop_img">
                        <h2>Weight Gain Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/3.png" class="crop_img">
                        <h2>Muscle Buliding Programs</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/1.png" class="crop_img">
                        <h2>Weight Loss Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/2.png" class="crop_img">
                        <h2>Weight Gain Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/3.png" class="crop_img">
                        <h2>Muscle Buliding Programs</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/1.png" class="crop_img">
                        <h2>Weight Loss Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/2.png" class="crop_img">
                        <h2>Weight Gain Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/3.png" class="crop_img">
                        <h2>Muscle Buliding Programs</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/1.png" class="crop_img">
                        <h2>Weight Loss Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/2.png" class="crop_img">
                        <h2>Weight Gain Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/3.png" class="crop_img">
                        <h2>Muscle Buliding Programs</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/1.png" class="crop_img">
                        <h2>Weight Loss Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/2.png" class="crop_img">
                        <h2>Weight Gain Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/3.png" class="crop_img">
                        <h2>Muscle Buliding Programs</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/1.png" class="crop_img">
                        <h2>Weight Loss Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/2.png" class="crop_img">
                        <h2>Weight Gain Programs</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/3.png" class="crop_img">
                        <h2>Muscle Buliding Programs</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="weight_programs()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>



        </ion-list>


        <ion-list lines="none" *ngSwitchCase="'standard'">
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/5.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/6.png" class="crop_img">
                        <h2>Arm Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/7.png" class="crop_img">
                        <h2>Back Workouts</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>leg Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/5.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/6.png" class="crop_img">
                        <h2>Arm Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/7.png" class="crop_img">
                        <h2>Back Workouts</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>leg Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/5.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/6.png" class="crop_img">
                        <h2>Arm Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/7.png" class="crop_img">
                        <h2>Back Workouts</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>leg Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/5.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/6.png" class="crop_img">
                        <h2>Arm Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/7.png" class="crop_img">
                        <h2>Back Workouts</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>leg Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/5.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/6.png" class="crop_img">
                        <h2>Arm Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/7.png" class="crop_img">
                        <h2>Back Workouts</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>leg Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/5.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/6.png" class="crop_img">
                        <h2>Arm Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/7.png" class="crop_img">
                        <h2>Back Workouts</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>leg Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/5.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/6.png" class="crop_img">
                        <h2>Arm Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/7.png" class="crop_img">
                        <h2>Back Workouts</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>leg Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/5.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/6.png" class="crop_img">
                        <h2>Arm Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/7.png" class="crop_img">
                        <h2>Back Workouts</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>leg Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/5.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/6.png" class="crop_img">
                        <h2>Arm Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/7.png" class="crop_img">
                        <h2>Back Workouts</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>leg Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/5.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/6.png" class="crop_img">
                        <h2>Arm Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/7.png" class="crop_img">
                        <h2>Back Workouts</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>leg Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/5.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/6.png" class="crop_img">
                        <h2>Arm Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/7.png" class="crop_img">
                        <h2>Back Workouts</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>leg Workouts</h2>
                    </div>
                </div>
            </ion-item> <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/5.png" class="crop_img">
                        <h2>Chest Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/6.png" class="crop_img">
                        <h2>Arm Workouts</h2>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/7.png" class="crop_img">
                        <h2>Back Workouts</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="chest_workouts()">
                <div class="item-inner">
                    <div class="img_box center_img">
                        <img src="assets/images/4.png" class="crop_img">
                        <h2>leg Workouts</h2>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>