<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'Workout' | translate }}</ion-title>
        <ion-label slot="end">
            <div class="ion-align-items-center" style="display: flex">
                @if (workout != null && !isDayCompleted) {
                <app-time-badge [initialTime]="workout.start" style="display: flex"></app-time-badge>
                }
                <ion-button color="dark" fill="clear" size="small" (click)="openSettings()">
                    <ion-icon name="ellipsis-vertical"></ion-icon>
                </ion-button>
            </div>
        </ion-label>
    </ion-toolbar>
    <ion-toolbar>
        <ion-title>
            {{ currentExercise()?.controls.name.value }}
        </ion-title>
        @if (currentExercise() != null) {
        <ion-button fill="clear" color="dark" slot="end" (click)="openExerciseInfo()">
            <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
        }
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color ion-padding-x" fullscreen>
    <div #exerciseContent class="wizard-container">
        @if (currentExercise() != null) {
        <div class="exercise-header">
            <div class="tags">
                @for (tag of currentExercise().controls.primaryMuscles.value; track tag) {
                <ion-chip color="primary" outline>{{ tag }}</ion-chip>
                }
                @for (tag of currentExercise().controls.secondaryMuscles.value; track tag) {
                <ion-chip color="secondary" outline>{{ tag }}</ion-chip> }
            </div>
        </div>
        @if (currentExercise().controls.notes.value) {
        <div class="notes">
            <ion-icon name="information-circle-outline"></ion-icon>
            {{ currentExercise().controls.notes.value }}
        </div>
        }
        <div class="sets-container">
            <app-exercise-form #exerciseForm [style.width]="'100%'" [exercise]="currentExercise()" [workoutMode]="true"
                (onCompletedEvent)="startRest($event)" (onAllCompletedEvent)="goToNextExercise()">
            </app-exercise-form>
        </div>
        } @else if (currentExerciseIndex() == -1) {
        <app-no-data [text]="'No excercises found.' | translate"></app-no-data>
        } @else {
        <ion-spinner class="fullscreen" name="dots"></ion-spinner>
        }
    </div>
</ion-content>

@if(lastCompletedSet && lastCompletedSetExercise && !isDayCompleted) {
<ion-footer class="ion-no-border animate__animated animate__fadeInUp ion-padding-bottom skip-footer">
    <app-rest-badge [initialTime]="lastCompletedSet.controls.completedAt.value" (onRestSkippedEvent)="onRestSkipped()"
        [duration]="lastCompletedSetExercise.controls.restDuration.value"></app-rest-badge>
</ion-footer>
}

@if (currentExercise() != null || currentExerciseIndex() == -1) {
<ion-footer class="bg_transparent">
    <div class="footer-container">
        <div class="nav-buttons ion-padding-start ion-padding-end">
            <div class="prev-next-buttons">
                <ion-button fill="clear" shape="round" [disabled]="currentExerciseIndex() <= 0"
                    (click)="goToPreviousExercise()">
                    <ion-icon name="play-skip-back-outline" name="chevron-back-outline"></ion-icon>
                </ion-button>
                @if (nextExercise()) {
                <div class="next-exercise">
                    <p class="next-label">{{ 'Next' | translate }}: {{ nextExercise().controls.name.value }}
                        ({{ nextExercise().controls.sets.value?.length }} {{'sets' | translate}})</p>
                </div>
                }
                @if (currentExerciseIndex() === exercises.length - 1 || currentExerciseIndex() === -1) {
                @if (!isDayCompleted) {
                <ion-button fill="clear" shape="round" [disabled]="" (click)="openEffortModal()">
                    <ion-note class="ion-color-primary ion-color">{{ 'Complete' | translate }}</ion-note>
                </ion-button>
                }
                } @else {
                <ion-button fill="clear" shape="round" [disabled]="" (click)="goToNextExercise()">
                    <ion-icon name="play-skip-forward-outline" name="chevron-forward-outline"></ion-icon>
                </ion-button>
                }
            </div>
        </div>
    </div>

    <div class="exercise-tabs">
        @for (exercise of exercises; track exercise; let i = $index) {
        <div class="exercise-tab" [ngClass]="{'active': currentExerciseIndex() === i}" (click)="selectExercise(i)">
        </div>
        }
    </div>
</ion-footer>
}