.exercise-header {
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }
}

.wizard-container {
    gap: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.sets-container {

    .set-item {
        margin-bottom: 8px;
        border-radius: 8px;

        h2 {
            font-weight: bold;
            margin-bottom: 4px;
        }

        .set-value {
            font-size: 16px;
            margin: 4px 0;
        }

        .weight-type {
            display: inline-block;
            font-size: 14px;
            background-color: rgba(var(--ion-color-medium-rgb), 0.2);
            padding: 2px 8px;
            border-radius: 4px;
            margin-top: 4px;
        }
    }
}

.rest-timer {
    text-align: center;
    margin: 32px 16px;

    .timer-display {
        font-size: 48px;
        font-weight: bold;
        margin: 24px 0;
        color: var(--ion-color-primary);
    }
}

.prev-next-buttons {
    display: flex;
    justify-content: space-between;

    ion-button {
        --padding-start: 15px !important;
        --padding-end: 15px !important;
        margin: 0px;
        height: 52px;
    }
}

.next-exercise {
    align-self: center;

    .next-label {
        margin: 0;
        font-size: 1rem;
        color: var(--ion-color-medium);
        text-align: center;
    }
}

.exercise-tabs {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    background: transparent;
    .exercise-tab:first-child {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .exercise-tab:last-child {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .exercise-tab {
        flex: 1;
        height: 15px;
        margin: 0 2px;
        border-radius: 2px;
        background-color: var(--ion-color-medium);

        &.active {
            background-color: var(--ion-color-primary);
        }
    }
}

.picker-content {
    --background: var(--ion-background-color);
}

.picker-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 200px;
}

.picker-min-width {
    min-width: 150px;
}

ion-picker-column-option {
    font-size: 22px;
}

.skip-footer {
    text-align: center;
    margin-bottom: 5px;
}

ion-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px 10px;

    .footer-container {
        border-radius: 50px;
        background: rgb(7, 6, 6);
        padding: 0px 25px;

        .nav-buttons {
            margin: 0px -2.5rem;
        }
    }
}

