<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'Get PRO' | translate}}
        </ion-title>
    </ion-toolbar>
    <div class="banner">
        <div class="banner_img center_img">
            <img src="assets/images/get_pro_banner.png" class="crop_img">
        </div>
        <h2 class="ion-text-center animate__animated animate__fadeInUp">
            Enhance your power <br>Upgrade to Pro Account
        </h2>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <ion-item lines="none" class="animate__animated animate__fadeInUp">
            <div class="item-inner d-flex">
                <ion-icon class="zmdi zmdi-male ion-text-center"></ion-icon>
                <div class="text_box">
                    <h2>Full Access</h2>
                    <h3>Access to 1000+ Training Programs</h3>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none" class="animate__animated animate__fadeInUp">
            <div class="item-inner d-flex">
                <ion-icon class="zmdi zmdi-comments ion-text-center"></ion-icon>
                <div class="text_box">
                    <h2>Talk to Experts</h2>
                    <h3>Chat with Training expert anytime</h3>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none" class="animate__animated animate__fadeInUp">
            <div class="item-inner d-flex">
                <ion-icon class="zmdi zmdi-refresh ion-text-center"></ion-icon>
                <div class="text_box">
                    <h2>Anytime Payback</h2>
                    <h3>Payback incase not satisfied</h3>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-button size="large" expand="round" class="btn">
        {{'Buy now' | translate}}
    </ion-button>
</ion-footer>