.card-header-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 8px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    ion-icon {
        margin-right: 8px;
        font-size: 18px;
    }

    .creator-name {
        font-weight: 500;
    }
}

.datetime {
    font-size: 14px;
    color: var(--ion-color-medium);
}

.action-area {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;

    ion-button:last-child {
        --padding-end: 0px
    }
}

.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 4px;
    background-color: var(--ion-color-success);
}

.exercises-list {
    margin-bottom: 16px;
}

.exercise-item {
    padding: 8px 0;

    &:last-child {
        border-bottom: none;
    }
}

.tag-container {
    display: flex;
    gap: 4px;
    margin-top: 4px;
}

.mr5 {
    margin-right: 5px;
}

.flex50 {
    flex: 50%;
}

.flex {
    display: flex;
}