<ion-header>
    <ion-toolbar>
        <ion-title>{{'Activity' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color ion-padding-x" fullscreen>
    <ion-row class="segment-toolbar ion-padding">
        <ion-segment lines="none" [(ngModel)]="tab" (ngModelChange)="onTabChange($event)">
            <ion-segment-button value="workouts">
                <ion-label>
                    {{'Workouts' | translate}}
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="stats">
                <ion-label>
                    {{'Stats' | translate}}
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="measurements">
                <ion-label>
                    {{'Measurements' | translate}}
                </ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-row>

    <ng-container [ngSwitch]="tab">
        <ng-container *ngSwitchCase="'workouts'">
            <ion-list lines="none">
                @for(workout of workouts; track $index) {
                <ion-card>
                    <div class="inner-card">
                        <ion-card-header>
                            <div class="card-header-container">
                                <div class="user-info">
                                    <ion-icon name="person-circle" size="small"></ion-icon>
                                    <span class="creator-name">
                                        {{ workout?.user.name }}
                                    </span>
                                </div>
                                <div class="datetime">
                                    {{ workout.start | dateTime }}
                                </div>
                                <div class="action-area">
                                    <ion-button color="dark" fill="clear" size="small" (click)="openSettings(workout)">
                                        <ion-icon name="ellipsis-vertical"></ion-icon>
                                    </ion-button>
                                </div>
                            </div>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-note color="medium">
                                @if (workout.load) {
                                <span>
                                    {{ 'Training load' | translate }}: {{ workout.load || 0 }} kg
                                </span>
                                }
                                @if (workout.effort) {
                                <span>
                                    {{ 'Effort' | translate }}: {{ workout.effort }}/10
                                </span>
                                }
                            </ion-note>
                            <div class="exercises-list">
                                @for(exercise of workout.exercises; track $index) {
                                <span class="exercise-item">
                                    {{ exercise.name }} ({{ exercise.sets?.length }} sets)
                                </span>
                                @if ($index < workout.exercises.length - 1){,&nbsp;} } <br>

                            </div>
                            @if (workout.tagsToShow?.length > 0) {
                            <div class="tag-container">
                                @for (tag of workout.tagsToShow; track $index) {
                                <ion-chip color="primary" size="small">{{ tag }}</ion-chip>
                                }
                            </div>
                            }
                        </ion-card-content>
                    </div>
                </ion-card>
                } @empty {
                <app-no-data [text]="'No activities yet.' | translate"></app-no-data>
                }
            </ion-list>
        </ng-container>
        <ng-container *ngSwitchCase="'stats'">
            <div class="ion-padding-x">
                <h6>{{ 'Total volume' | translate }}</h6>
                <canvas #volumeChart></canvas>
                <h6>{{ 'Effort' | translate }}</h6>
                <canvas #effortChart></canvas>
                <h6>
                    <ion-select (ionChange)="maxPerWorkoutExerciseChange($event)" [(ngModel)]="maxPerWorkoutExercise"
                        label="{{ 'Max. Load' | translate }}">
                        @for (item of allExercises; track $index) {
                        <ion-select-option [value]="item">{{ item }}</ion-select-option>
                        }
                    </ion-select>
                </h6>
                <canvas #maxPerWorkout></canvas>
                <h6>
                    <ion-select (ionChange)="maxLoadPerWorkoutExerciseChange($event)" [(ngModel)]="maxLoadPerWorkoutExercise"
                        label="{{ 'Max. Volume' | translate }}">
                        @for (item of allExercises; track $index) {
                        <ion-select-option [value]="item">{{ item }}</ion-select-option>
                        }
                    </ion-select>
                </h6>
                <canvas #maxLoadPerWorkout></canvas>
                <h6>
                    <ion-select (ionChange)="maxVolumePerWorkoutExerciseChange($event)" [(ngModel)]="maxVolumePerWorkoutExercise"
                        label="{{ 'Total Volume' | translate }}">
                        @for (item of allExercises; track $index) {
                        <ion-select-option [value]="item">{{ item }}</ion-select-option>
                        }
                    </ion-select>
                </h6>
                <canvas #volumePerWorkout></canvas>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'measurements'">
            <ion-list lines="none">
                @for(measurement of measurements; track measurement.name) {
                <ion-item (click)="createOrEditMeasurement(measurement)">
                    <canvas #measurementsGraph></canvas>
                </ion-item>
                } @empty {
                <app-no-data [text]="'No measurements yet.' | translate"></app-no-data>
                }
            </ion-list>
        </ng-container>
    </ng-container>

</ion-content>

@if (tab == 'measurements') {
<ion-fab slot="fixed" horizontal="end" vertical="bottom" style="bottom: 0">
    <ion-fab-button>
        <ion-icon name="add" (click)="presentPopover($event)"></ion-icon>
    </ion-fab-button>
</ion-fab>
}

<ion-popover #popover [isOpen]="actionsPopover" (didDismiss)="actionsPopover = false">
    <ng-template>
        <ion-list>
            @for (measure of measurements; track measure.id) {
            <ion-item button (click)="addEntry(measure)">
                <ion-label>{{ measure.name }}</ion-label>
            </ion-item>
            }
            <ion-item button (click)="createOrEditMeasurement()">
                <ion-label>{{ 'Create' | translate }}</ion-label>
                <ion-icon name="add-outline" color="primary"></ion-icon>
            </ion-item>
        </ion-list>
    </ng-template>
</ion-popover>

<app-continue-footer></app-continue-footer>