ion-footer {
    padding: 0px 30px 14px 30px;
}

ion-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

ion-radio-group {
    ion-item {
        ion-icon {
            font-size: 30px;
        }
    }
}

.banner .logo {
    position: absolute;
    bottom: 59px;
    left: 0;
    width: 100%;
    padding: 0 30px;
    --animate-duration: .3s;
}

ion-header,
.banner {
    --ion-text-color: white;
    color: var(--ion-text-color);
}