<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'Register' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <form [formGroup]="registrationForm" (ngSubmit)="register()">
        <div class="banner">
            <div class="banner_img center_img">
                <img src="assets/images/banner_img.png" class="crop_img">
                <div class="logo animate__animated animate__fadeInUp">
                    <h1>{{ 'Welcome' | translate }} {{ 'to' | translate }} RYPM.</h1>
                </div>
            </div>
        </div>
        <div class="form ion-padding-top ion-padding-bottom">

            <div class="user-type-selector">
                <ion-segment formControlName="type" class="custom-segment">
                    <ion-segment-button [value]="userTypes.User" class="segment-button">
                        <div class="segment-button-content">
                            <ion-icon name="person-outline"></ion-icon>
                            <div class="segment-text">
                                <span>{{ 'User' | translate }}</span>
                            </div>
                        </div>
                    </ion-segment-button>

                    <ion-segment-button [value]="userTypes.Trainer" class="segment-button">
                        <div class="segment-button-content">
                            <ion-icon name="barbell-outline"></ion-icon>
                            <div class="segment-text">
                                <span>{{ 'Trainer' | translate }}</span>
                            </div>
                        </div>
                    </ion-segment-button>
                </ion-segment>

                <div class="type-description">

                    @if (registrationForm.get('type').value === userTypes.Trainer) {
                    <p>
                        {{ 'Register as trainer to find your next potential client.' | translate }}
                    </p>
                    } @else {
                    <p>
                        {{ 'Register as user to find your next trainer.' | translate }}
                    </p>
                    }

                </div>
            </div>

            <ion-list>
                <ion-item class="animate__animated animate__fadeInUp">
                    <ion-input formControlName="name" labelPlacement="stacked" [label]="'Name' | translate" type="text">
                    </ion-input>
                </ion-item>

                <ion-item class="animate__animated animate__fadeInUp">
                    <ion-input formControlName="email" labelPlacement="stacked" [label]="'Email' | translate"
                        type="email">
                    </ion-input>
                </ion-item>

                <ion-item class="animate__animated animate__fadeInUp">
                    <ion-input formControlName="password" labelPlacement="stacked" [label]="'Password' | translate"
                        class="password" type="password">
                        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                    </ion-input>
                </ion-item>

                <ion-item class="animate__animated animate__fadeInUp">
                    <ion-input formControlName="passwordConfirm" labelPlacement="stacked"
                        [label]="'Password confirm' | translate" class="password" type="password">
                        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                    </ion-input>
                </ion-item>

                <ion-item class="animate__animated animate__fadeInUp">
                    <ion-checkbox labelPlacement="end" formControlName="terms">
                        <div class="d-flex-register">{{ 'I agree to the' | translate }}

                            <ion-button type="button" size="small" fill="clear" expand="round" class="terms animate__animated animate__fadeInUp"
                                (click)="showTerms()">{{'Terms & Conditions' | translate}}
                            </ion-button>
                        </div>
                    </ion-checkbox>
                </ion-item>

            </ion-list>

        </div>
    </form>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-button [disabled]="registrationForm.invalid" size="large" expand="round" class="btn"
        (click)="register()">{{'Register' | translate}}</ion-button>
</ion-footer>