<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon class="zmdi zmdi-male"></ion-icon>
            <ion-label>{{'workouts' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="my_activity">
           <ion-icon class="zmdi zmdi-equalizer"></ion-icon>
            <ion-label>{{'my_activity' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="chats">
            <ion-icon class="zmdi zmdi-comments"></ion-icon>
            <ion-label>{{'message' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="account">
            <ion-icon class="zmdi zmdi-account"></ion-icon>
            <ion-label>{{'account' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
