<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'select_exercise' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">{{ 'cancel' | translate }}</ion-button>
            <ion-button (click)="addSelected()" [strong]="true" color="primary">{{ 'add' | translate }}</ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterExercises()"
            placeholder="{{ 'search_exercises' | translate }}" debounce="300"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        @for (exercise of filteredExercises; track exercise.id) {
        <ion-item (click)="toggleExercise(exercise)">
            <ion-label>
                <ion-text [color]="exercise.selected ? 'primary' : ''">
                    {{ exercise.name }}
                </ion-text><br />
                <ion-note color="medium" class="ion-text-wrap">
                    <div class="tags">
                        @for (tag of exercise.tags; track tag) {
                        <ion-chip size="small" outline>{{tag}}</ion-chip>
                        }
                    </div>
                </ion-note>
            </ion-label>
            <ion-checkbox slot="end" [(ngModel)]="exercise.selected" (click)="toggleExercise(exercise)"></ion-checkbox>
        </ion-item>
        }
        @if (filteredExercises.length === 0) {
        <ion-item>
            <ion-label class="ion-text-center">{{ 'no_exercises_found' | translate }}</ion-label>
        </ion-item>
        }
    </ion-list>
</ion-content>