<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'Connect' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
    <qrcode [qrdata]="'https://app.rypm.app/api/invite/' + code" [width]="256" [errorCorrectionLevel]="'M'" class="ion-text-center"></qrcode>
    <p class="qr-description">{{'Scan to connect' | translate}}</p>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar>
        <div class="ion-padding">
            <div class="button-group ion-margin-bottom">
                <ion-button size="medium" expand="block" fill="outline" color="primary" (click)="share()">
                    <ion-icon slot="start" name="share-social-outline"></ion-icon>
                    {{ 'Share' | translate }}
                </ion-button>
            </div>
            <div>
                <ion-button expand="round" color="primary" class="btn" (click)="dismissModal()">
                    {{ 'Complete' | translate}}
                </ion-button>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>