<ion-list>
    <ion-item button (click)="moveUpHandler()" [disabled]="!canMoveUp">
        <ion-icon name="chevron-up-outline" slot="start"></ion-icon>
        <ion-label>{{ 'move_up' | translate }}</ion-label>
    </ion-item>
    <ion-item button (click)="moveDownHandler()" [disabled]="!canMoveDown">
        <ion-icon name="chevron-down-outline" slot="start"></ion-icon>
        <ion-label>{{ 'move_down' | translate }}</ion-label>
    </ion-item>
    <ion-item button (click)="removeHandler()" [disabled]="!canDelete">
        <ion-icon color="danger" name="trash-outline" slot="start"></ion-icon>
        <ion-label color="danger">{{ 'remove' | translate }}</ion-label>
    </ion-item>
</ion-list>