<ion-header class="bg_transparent" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'Settings' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color ion-padding-x" fullscreen>
    <ion-item>
        <ion-label>
            {{ 'Weight' | translate }}
        </ion-label>
        <ion-segment class="w-80" [value]="selectedWeightType" (ionChange)="setWeightType($event.detail.value)">
            @for(weightType of weightTypes; track $index) {
            <ion-segment-button [value]="weightType">
                <ion-label>{{ weightType | weightType }}</ion-label>
            </ion-segment-button>
            }
        </ion-segment>
    </ion-item>
    <!-- <p class="ion-padding-top"> {{ 'Available plates' | translate }}</p>
    <ion-item>
        <ion-select aria-label="Fruit" [placeholder]="'Select available plates' | translate" [multiple]="true">
            @if (selectedWeightType == weightType.KG) {
            @for(increment of weightIncrementsKG; track $index) {
            <ion-select-option [value]="increment">{{ increment }}</ion-select-option>
            }
            }
            @if (selectedWeightType == weightType.LB) {
            @for(increment of weightIncrementsLB; track $index) {
            <ion-select-option [value]="increment">{{ increment }}</ion-select-option>
            }
            }
        </ion-select>
    </ion-item> -->
    <ion-item>
        <ion-label>
            {{ 'Default' | translate }} {{ 'AI Trainer' | translate }}
        </ion-label>
        <ion-toggle slot="end" [(ngModel)]="aiTrainerToggle" (ionChange)="toggle($event)"
            class="ion-padding-x"></ion-toggle>
    </ion-item>
    <ion-row>
        <ion-col>
            <ion-card (click)="changeTrainer(aiTrainer.RYPED);" [class.grayscale]="selectedTrainer != aiTrainer.RYPED">
                @if (selectedTrainer == aiTrainer.RYPED) {
                <ion-icon color="success" class="abs-icon" size="large" name="checkmark-circle-outline"></ion-icon>
                }
                @else {
                <ion-icon color="medium" class="abs-icon" size="large" name="ellipse-outline"></ion-icon>
                }
                <img src="assets/images/RYPED.png" />
                <ion-card-header>
                    <ion-card-title>Ed Ryp</ion-card-title>
                    <ion-card-subtitle>{{ 'AI Trainer' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card (click)="changeTrainer(aiTrainer.RYPEM);" [class.grayscale]="selectedTrainer != aiTrainer.RYPEM">
                @if (selectedTrainer == aiTrainer.RYPEM) {
                <ion-icon color="success" class="abs-icon" size="large" name="checkmark-circle-outline"></ion-icon>
                }
                @else {
                <ion-icon color="medium" class="abs-icon" size="large" name="ellipse-outline"></ion-icon>
                }
                <img src="assets/images/RYPEM.png" />
                <ion-card-header>
                    <ion-card-title>Em Ryp</ion-card-title>
                    <ion-card-subtitle>{{ 'AI Trainer' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>