<ion-header class="bg_transparent" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'Settings' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color ion-padding-x" fullscreen>
    <p class="ion-padding-bottom"> {{ 'Weight' | translate }}</p>
    <ion-segment [value]="selectedWeightType" (ionChange)="setWeightType($event.detail.value)">
        @for(weightType of weightTypes; track $index) {
        <ion-segment-button [value]="weightType">
            <ion-label>{{ weightType | weightType }}</ion-label>
        </ion-segment-button>
        }
    </ion-segment>
    <p class="ion-padding-bottom"> {{ 'Weight increments' | translate }}</p>
    <ion-segment [scrollable]="true" [value]="selectedIncrement" (ionChange)="setIncrement($event.detail.value)">
        @if (selectedWeightType == weightType.KG) {
        @for(increment of weightIncrementsKG; track $index) {
        <ion-segment-button [value]="increment">
            <ion-label>{{ increment }}</ion-label>
        </ion-segment-button>
        }
        }
        @if (selectedWeightType == weightType.LB) {
        @for(increment of weightIncrementsLB; track $index) {
        <ion-segment-button [value]="increment">
            <ion-label>{{ increment }}</ion-label>
        </ion-segment-button>
        }
        }
    </ion-segment>
</ion-content>