<ion-header>
    <ion-toolbar [class.show-background]="showToolbar">
        <ion-title>{{'Settings' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>

    <!-- <div class="buy_this_app end" (click)="buyappalert()">
        <h2>
            {{"Buy or donate" | translate}}
        </h2>
    </div> -->

    <div class="d-flex">
        <div class="profile d-flex" (click)="my_profile()">
            <div class="profile_img center_img">
                <div class="img_box center_img ion-bo" [style.backgroundImage]="'url(' + (user?.avatar ) + ')'">
                    @if (!user?.avatar) {
                    <ion-icon [src]="accountIcon"></ion-icon>
                    }
                </div>
            </div>
            <div class="text_box ion-margin-start">
                <h2>{{ user?.name || '-'}}</h2>
                <h3>{{'View profile' | translate}}</h3>
            </div>
        </div>
        <ion-button fill="clear" (click)="openAccountSwitchOptions()">
            <ion-icon name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-button>
    </div>

    <div class="get_pro d-flex" (click)="get_pro()">
        <h2>Unlock app full potential!</h2>
        <h3 class="end">{{'BUY' | translate}}</h3>
    </div>

    <ion-list lines="none">
        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="toggleTheme()">
            <div class="item-inner d-flex">
                <ion-icon [size]="'medium'" [src]="isDark() ? lightIcon : darkIcon" slot="icon-only"></ion-icon>
                <div class="text_box">
                    <h2>{{ (isDark() ? 'Light' : 'Dark' ) | translate}}</h2>
                    <h3>{{'Theme' | translate}}</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="measurements()">
            <div class="item-inner d-flex">
                <ion-icon [size]="'medium'" [src]="measurementsIcon" slot="icon-only"></ion-icon>
                <div class="text_box">
                    <h2>{{ 'Measurements' | translate}}</h2>
                    <h3>{{'Select default measurements' | translate}}</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="account_settings()">
            <div class="item-inner d-flex">
                <ion-icon [size]="'medium'" [src]="accountSettingsIcon" slot="icon-only"></ion-icon>
                <div class="text_box">
                    <h2>{{'Account' | translate}}</h2>
                    <h3>{{'Settings' | translate}}</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="change_language()">
            <div class="item-inner d-flex">
                <ion-icon class="ion-text-start" [src]="langIcon"></ion-icon>
                <div class="text_box">
                    <h2>{{'Language' | translate}}</h2>
                    <h3>{{'Select language' | translate}}</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" href="mailto:support@rypm.app?subject=Support Request">
            <div class="item-inner d-flex">
                <ion-icon class="ion-text-start" [src]="helpIcon"></ion-icon>
                <div class="text_box">
                    <h2>{{'Help us improve' | translate}}</h2>
                    <h3>{{'Chat with us if you need help or you want to help us improve' | translate}}</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="terms_condition()">
            <div class="item-inner d-flex">
                <ion-icon [src]="termsIcon" class="ion-text-start"></ion-icon>
                <div class="text_box">
                    <h2>{{'Terms & Conditions' | translate}}</h2>
                    <h3>{{'Click here to check terms and conditions.' | translate}}</h3>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp" (click)="logout()">
            <div class="item-inner d-flex">
                <ion-icon class="ion-text-start" [src]="logoutIcon"></ion-icon>
                <div class="text_box">
                    <h2>{{'Logout' | translate}}</h2>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp">
            <span slot="end">
                v{{version}}
            </span>
        </ion-item>

    </ion-list>
</ion-content>

<!--<ion-footer class="ion-no-border" style="bottom: 43px; background: var(--bg-color);">
    <div class="developed_by d-flex" (click)="developed_by()" *ngIf="config.demoMode">
        <h2>{{"Developed by" | translate}}</h2>
        <div class="img_box end">
            <img src="assets/images/opus_logo_light.png">
        </div>
    </div>
</ion-footer>-->