@if (workout) {
<ion-footer class="bg_transparent" class="ion-padding-x">

    <app-rest-badge #restBadge [initialTime]="lastCompletedSet?.completedAt" (onRestSkippedEvent)="onRestSkipped()"
        [duration]="lastCompletedSetExercise?.restDuration" (onTimerCompletedEvent)="timerCompleted()"></app-rest-badge>

    @if (!restBadge.isResting && !timerOnly()) {
    <ion-button size="large" expand="round" shape="round" color="primary" (click)="navToActiveWorkout()">
        <ion-icon slot="end" [name]="'play-outline'"></ion-icon>
        {{ 'Continue' | translate }}
    </ion-button>
    }
</ion-footer>
}