<div class="exercise-item" [formGroup]="exercise">
    @if (!workoutMode) {
    <div class="exercise-header">
        <span class="title">{{exercise.get('name').value}}</span>
        <div class="exercise-actions">
            <ion-button fill="clear" size="small" [color]="'medium'" [disabled]="!canMoveExerciseUp()"
                (click)="moveExerciseUpEvent.emit()">
                <ion-icon name="chevron-up-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" size="small" [color]="'medium'" [disabled]="!canMoveExerciseDown()"
                (click)="moveExerciseDownEvent.emit()">
                <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" size="small" [color]="'medium'" #exerciseButton (click)="togglePopover($event)">
                <ion-icon name="ellipsis-vertical-circle-outline"></ion-icon>
            </ion-button>
        </div>

        <ion-popover #exercisePopover [isOpen]="false" [dismissOnSelect]="true" [showBackdrop]="true"
            triggerAction="click">
            <ng-template>
                <ion-list>
                    <ion-item button (click)="onRemoveExerciseEvent.emit()" class="delete-item">
                        <ion-icon name="trash-outline" slot="start" color="danger"></ion-icon>
                        <ion-label color="danger">{{ 'Remove exercise' | translate }}</ion-label>
                    </ion-item>
                </ion-list>
            </ng-template>
        </ion-popover>
    </div>
    }

    <div class="exercise-settings-container">
        <ion-icon name="timer-outline"></ion-icon>
        <span>{{ 'Rest' | translate }}:</span>
        <ion-button fill="clear" color="dark" size="small" (click)="openRestPickerModal()">
            {{ exercise.get('restDuration')?.value | duration }}
            <ion-icon size="small" name="chevron-down-outline" slot="end"></ion-icon>
        </ion-button>

        <ion-modal #restPickerModal [backdropDismiss]="true" class="picker-modal">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-title slot="start">{{ 'Set' | translate }} {{selectedSetIndex + 1}}</ion-title>
                        <ion-buttons slot="end">
                            <ion-button (click)="cancelPicker()">{{ 'Cancel' | translate }}</ion-button>
                        </ion-buttons>
                        <ion-buttons slot="end">
                            <ion-button (click)="confirmRestPicker()">{{ 'OK' | translate }}</ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-picker>
                    <ion-picker-column [value]="selectedRestValue"
                        (ionChange)="selectedRestValue = $event.detail.value">
                        @for (option of durationOptions; track option.value) {
                        <ion-picker-column-option [value]="option.value">
                            {{ option.value | duration }}
                        </ion-picker-column-option>
                        }
                    </ion-picker-column>
                </ion-picker>
            </ng-template>
        </ion-modal>

        <ion-button fill="clear" class="notes-button" (click)="onOpenNotes()">
            <ion-icon name="document-text-outline"
                [color]="exercise.get('notes').value ? 'primary' : 'dark'"></ion-icon>
        </ion-button>
    </div>

    <div formArrayName="sets" class="form-container">
        <ion-reorder-group [disabled]="false" (ionItemReorder)="reorderSets($event)">
            @for (set of setsArray.controls; track $index; let setIndex = $index) {
            <ion-item-sliding #setSliding [formGroupName]="setIndex">
                <ion-item lines="none" class="rep-row" lines="none" (click)="openSetPickerModal(setIndex)">
                    <div class="rep-row-container">
                        <div class="set-history small">
                            @if (set.get('previousWeight')?.value || set.get('previousValue')?.value) {
                            <ng-container [ngTemplateOutlet]="setValueTemplate"
                                [ngTemplateOutletContext]="{set: set, previous: true}">
                            </ng-container>
                            }
                        </div>
                        <div class="set-number">{{setIndex + 1}}.</div>
                        @if (workoutMode) {
                        <ng-container [ngTemplateOutlet]="setValueTemplate" [ngTemplateOutletContext]="{set: set}">
                        </ng-container>
                        <div class="small" [style.margin-left]="'auto'">
                            <ng-container [ngTemplateOutlet]="setConfigTemplate" [ngTemplateOutletContext]="{set: set}">
                            </ng-container>
                        </div>
                        } @else {
                        <ng-container [ngTemplateOutlet]="setConfigTemplate" [ngTemplateOutletContext]="{set: set}">
                        </ng-container>
                        }
                    </div>

                    @if (!workoutMode) {
                    <ion-reorder slot="end">
                        <ion-icon name="reorder-two-outline"></ion-icon>
                    </ion-reorder>
                    }
                </ion-item>

                @if (workoutMode) {
                <ion-checkbox #checkbox (ionChange)="updateCompletion(setIndex)"
                    formControlName="completed"></ion-checkbox>
                }

                @if (setsArray?.length > 1) {
                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="removeSetAt(setIndex); setSliding.close()">
                        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
                }
            </ion-item-sliding>
            }
        </ion-reorder-group>
    </div>

    <div class="set-buttons">
        <ion-button size="small" fill="clear" color="medium" expand="block" (click)="removeSet()"
            [disabled]="setsArray.length <= 1" color="medium">
            {{ 'Remove set' | translate }}
        </ion-button>
        <ion-button size="small" fill="clear" color="medium" expand="block" (click)="addSet()">
            {{ 'Add set' | translate }}
        </ion-button>
    </div>
</div>

<ng-template #setValueTemplate let-set="set" let-previous="previous">
    <div class="set-display-container">
        @if (previous) {
        {{ 'Previous' | translate }}:
        }
        @if (set.get('weightType').value !== WeightType.NA) {
        <div class="weight-value">
            @if (set.get('weightType').value == WeightType.KG || set.get('weightType').value == WeightType.LB) {
            {{ set.get(previous ? 'previousWeight' : 'currentWeight')?.value }}
            } {{set.get('weightType').value | weightType}}
        </div>
        <div>×</div>
        }

        <div class="rep-value">
            {{set.get(previous ? 'previousValue' : 'currentValue')?.value}}
            @switch (set.get('type').value) {
            @case (RepType.Reps) {
            {{ 'reps' | translate }}
            }
            @case (RepType.Range) {
            {{ 'reps' | translate }}
            }
            @case (RepType.Max) {
            {{ 'reps' | translate }}
            }
            @case (RepType.Duration) {
            {{ 'sec' | translate }}
            }
            }
        </div>
    </div>
</ng-template>

<ng-template #setConfigTemplate let-set="set">
    <div class="set-display-container">
        @if (set.get('weightType').value !== WeightType.NA) {
        <div class="weight-value">
            @if (set.get('weightType').value == WeightType.KG || set.get('weightType').value == WeightType.LB) {
            {{ set.get('weight')?.value }}
            } {{set.get('weightType').value | weightType}}
        </div>
        <div>×</div>
        }

        <div class="rep-value">
            @switch (set.get('type').value) {
            @case (RepType.Reps) {
            {{set.get('value')?.value}} {{ 'reps' | translate }}
            }
            @case (RepType.Range) {
            {{set.get('minValue')?.value}} - {{set.get('maxValue')?.value}} {{ 'reps' | translate }}
            }
            @case (RepType.Max) {
            {{ 'max' | translate }} {{ 'reps' | translate }}
            }
            @case (RepType.Duration) {
            {{set.get('value')?.value}} {{ 'sec' | translate }}
            }
            }
        </div>

        @if (set.get('rir').value) {
            <div class="reserve-value">
                ({{set.get('rir').value}} {{ 'RiR' | translate }})
            </div>
        }
        
        @if (set.get('rpe').value) {
            <div class="reserve-value">
                ({{set.get('rpe').value}} {{ 'RPE' | translate }})
            </div>
        }
    </div>
</ng-template>


<ion-modal #setPickerModal [backdropDismiss]="true" class="picker-modal">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-title slot="start">{{ 'Set' | translate }} {{selectedSetIndex + 1}}</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="cancelPicker()">{{ 'Cancel' | translate }}</ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                    <ion-button (click)="confirmSetPicker()">{{ 'Confirm' | translate }}</ion-button>
                </ion-buttons>
            </ion-toolbar>

            @if (!workoutMode) {
            <ion-toolbar class="type-selector-toolbar">
                <ion-segment [value]="selectedWeightType" (ionChange)="setWeightType($event.detail.value)">
                    @for(weightType of weightTypes; track $index) {
                    <ion-segment-button [value]="weightType" [disabled]="selectedRepType == RepType.Duration">
                        <ion-label>{{ weightType | weightType }}</ion-label>
                    </ion-segment-button>
                    }
                </ion-segment>
            </ion-toolbar>

            <ion-toolbar class="type-selector-toolbar">
                <ion-segment [value]="selectedRepType" (ionChange)="setRepType($event.detail.value)">
                    @for(repType of repTypes; track $index) {
                    <ion-segment-button [value]="repType">
                        <ion-label>{{ repType | repType }}</ion-label>
                    </ion-segment-button>
                    }
                </ion-segment>
            </ion-toolbar>
            @if (selectedRepType !== RepType.Max) {
            <ion-toolbar class="type-selector-toolbar">
                <ion-segment [value]="selectedReserveType" (ionChange)="setReserveType($event.detail.value)">
                    <ion-segment-button [value]="null">
                        <ion-label>{{ 'N/A' | translate }}</ion-label>
                    </ion-segment-button>
                    <ion-segment-button [value]="ReserveType.RIR">
                        <ion-label>{{ 'RiR' | translate }}</ion-label>
                    </ion-segment-button>
                    <ion-segment-button [value]="ReserveType.RPE">
                        <ion-label>{{ 'RPE' | translate }}</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-toolbar>
            }
            }
        </ion-header>

        <ion-picker>
            @if (!workoutMode && setsArray?.length <= 1) { <ion-picker-column [value]="numSets"
                (ionChange)="numSets = $event.detail.value">
                @for (option of setsOptions; track option) {
                <ion-picker-column-option [value]="option">
                    {{ option }} {{ 'sets' | translate }}
                </ion-picker-column-option>
                }
                </ion-picker-column>
                }

                @if (selectedWeightType == WeightType.KG || selectedWeightType == WeightType.LB) {
                <ion-picker-column [value]="selectedWeight" (ionChange)="selectedWeight = $event.detail.value">
                    @for (option of weightOptions; track option) {
                    <ion-picker-column-option [value]="option">
                        {{ option }} {{ selectedWeightType | weightType }}
                    </ion-picker-column-option>
                    }
                </ion-picker-column>
                }

                @if (selectedRepType === RepType.Reps
                || (workoutMode && (selectedRepType == RepType.Range || selectedRepType == RepType.Max))) {
                <ion-picker-column [value]="selectedValue" (ionChange)="selectedValue = $event.detail.value">
                    @for (option of repsOptions; track option) {
                    <ion-picker-column-option [value]="option">
                        {{ option }} {{ 'reps' | translate }}
                    </ion-picker-column-option>
                    }
                </ion-picker-column>
                }

                @if (!workoutMode) {
                @if (selectedRepType === RepType.Range) {
                <ion-picker-column [value]="selectedMinValue" (ionChange)="setMinValue($event.detail.value)">
                    @for (option of repsOptionsMin; track option) {
                    <ion-picker-column-option [value]="option">
                        {{ option }}
                    </ion-picker-column-option>
                    }
                    <div class="picker-range-suffix" slot="suffix">-</div>
                </ion-picker-column>

                <ion-picker-column [value]="selectedMaxValue" (ionChange)="setMaxValue($event.detail.value)">
                    @for (option of repsOptions; track option) {
                    <ion-picker-column-option [value]="option">
                        {{ option }} {{ 'reps' | translate }}
                    </ion-picker-column-option>
                    }
                </ion-picker-column>
                }
                }

                @if (selectedRepType === RepType.Duration) {
                <ion-picker-column [value]="selectedValue" (ionChange)="selectedValue = $event.detail.value">
                    @for (option of weightOptions; track option) {
                    <ion-picker-column-option [value]="option">
                        {{ option }} {{ 'sec' | translate }}
                    </ion-picker-column-option>
                    }
                </ion-picker-column>
                }

                @if (!workoutMode) {
                @if (selectedRepType !== RepType.Max) {
                @if (selectedReserveType == ReserveType.RIR) {
                <ion-picker-column [value]="selectedRIR" (ionChange)="selectedRIR = $event.detail.value; selectedRPE = null;">
                    @for (rir of rirs; track rir) {
                    <ion-picker-column-option [value]="rir">
                        {{ rir }} {{ 'RiR' | translate }}
                    </ion-picker-column-option>
                    }
                </ion-picker-column>
                }
                @if (selectedReserveType == ReserveType.RPE) {
                <ion-picker-column [value]="selectedRPE" (ionChange)="selectedRPE = $event.detail.value; selectedRIR = null;">
                    @for (rpe of rpes; track rpe) {
                    <ion-picker-column-option [value]="rpe">
                        {{ rpe }} {{ 'RPE' | translate }}
                    </ion-picker-column-option>
                    }
                </ion-picker-column>
                }
                }
                }

        </ion-picker>
    </ng-template>
</ion-modal>