<div class="exercise-item" [formGroup]="exercise">
    <h2>{{exercise.get('name').value}}</h2>

    <div class="exercise-settings-container">
        <span>{{ 'rest' | translate }}</span>
        <ion-icon name="timer-outline"></ion-icon>
        <ion-select formControlName="restDuration" interface="popover" class="rest-duration-select">
            @for (option of durationOptions; track option.value) {
            <ion-select-option [value]="option.value">
                {{ option?.value | duration }}
            </ion-select-option>
            }
        </ion-select>

        <ion-button fill="clear" class="notes-button" (click)="onOpenNotes()">
            <ion-icon name="document-text-outline"
                [color]="exercise.get('notes').value ? 'primary' : 'dark'"></ion-icon>
        </ion-button>
    </div>

    <div formArrayName="sets" class="sets-container">
        <ion-reorder-group [disabled]="false" (ionItemReorder)="reorderSets($event)">
            @for (set of setsArray.controls; track $index; let setIndex = $index) {
            <ion-item-sliding #setSliding>
                <ion-item lines="none" [formGroupName]="setIndex" class="rep-row" (click)="openSetPickerModal(setIndex)"
                    lines="none">
                    <div class="set-number">{{setIndex + 1}}.</div>
                    <div class="set-values">
                        @if (set.get('weightType').value !== WeightType.NA) {
                        <div class="weight-value">
                            {{set.get('weight').value}} {{set.get('weightType').value | weightType}}
                        </div>
                        <div>×</div>
                        }

                        <div class="rep-value">
                            @switch (set.get('type').value) {
                            @case (RepType.Reps) {
                            {{set.get('value').value}} {{ 'reps' | translate }}
                            }
                            @case (RepType.Range) {
                            {{set.get('minValue').value}}-{{set.get('maxValue').value}} {{ 'reps' | translate }}
                            }
                            @case (RepType.Max) {
                            {{ 'max' | translate }} {{ 'reps' | translate }}
                            }
                            @case (RepType.Duration) {
                            {{set.get('value').value}} {{ 'sec' | translate }}
                            }
                            }
                        </div>
                    </div>
                    <ion-icon name="chevron-forward" class="set-action-indicator" slot="end"></ion-icon>
                    <ion-reorder slot="end">
                        <ion-icon name="reorder-two-outline"></ion-icon>
                    </ion-reorder>
                </ion-item>

                @if(setIndex >= 1) {
                <!-- TODO: fix swipe delete -->
                <!-- <ion-item-options side="end" (ionSwipe)="removeSetAt(setIndex)">
                    <ion-item-option color="danger" (click)="removeSetAt(setIndex)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options> -->
                }
            </ion-item-sliding>
            }
        </ion-reorder-group>
    </div>


    <div class="set-buttons">
        <ion-button size="small" fill="clear" (click)="removeSet()" [color]="'dark'" [disabled]="setsArray.length <= 1">
            <ion-icon slot="start" name="remove"></ion-icon>
            {{ 'set' | translate }}
        </ion-button>
        <ion-button fill="clear" size="small" [color]="'dark'" (click)="addSet()">
            <ion-icon slot="start" name="add"></ion-icon>
            {{ 'set' | translate }}
        </ion-button>
    </div>
</div>

<ion-modal #pickerModal [breakpoints]="[0, 0.5]" [initialBreakpoint]="0.5" [backdropDismiss]="true"
    class="picker-modal">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-title>{{ 'set' | translate }} {{selectedSetIndex + 1}}</ion-title>
                <ion-buttons slot="start">
                    <ion-button (click)="cancelPicker()">{{ 'cancel' | translate }}</ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                    <ion-button (click)="confirmPicker()">{{ 'confirm' | translate }}</ion-button>
                </ion-buttons>
            </ion-toolbar>

            <ion-toolbar class="type-selector-toolbar">
                <ion-segment [value]="selectedWeightType" (ionChange)="setWeightType($event.detail.value)">
                    @for(weightType of weightTypes; track $index) {
                    <ion-segment-button [value]="weightType">
                        <ion-label>{{ weightType | weightType }}</ion-label>
                    </ion-segment-button>
                    }
                </ion-segment>
            </ion-toolbar>

            <ion-toolbar class="type-selector-toolbar">
                <ion-segment [value]="selectedRepType" (ionChange)="setRepType($event.detail.value)">
                    @for(repType of repTypes; track $index) {
                    <ion-segment-button [value]="repType">
                        <ion-label>{{ repType | repType }}</ion-label>
                    </ion-segment-button>
                    }
                </ion-segment>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <div class="picker-content">
                <ion-picker>
                    <ion-picker-column [value]="numSets" (ionChange)="numSets = $event.detail.value">
                        @for (option of setsOptions; track option) {
                        <ion-picker-column-option [value]="option">
                            {{ option }} {{ 'sets' | translate }}
                        </ion-picker-column-option>
                        }
                    </ion-picker-column>

                    @if (selectedWeightType !== WeightType.NA) {
                    <ion-picker-column [value]="selectedWeight" (ionChange)="selectedWeight = $event.detail.value">
                        @for (option of weightOptions; track option) {
                        <ion-picker-column-option [value]="option">
                            {{ option }} {{ selectedWeightType | weightType }}
                        </ion-picker-column-option>
                        }
                    </ion-picker-column>
                    }

                    @if (selectedRepType === RepType.Reps) {
                    <ion-picker-column [value]="selectedValue" (ionChange)="selectedValue = $event.detail.value">
                        @for (option of repsOptions; track option) {
                        <ion-picker-column-option [value]="option">
                            {{ option }} {{ 'reps' | translate }}
                        </ion-picker-column-option>
                        }
                    </ion-picker-column>
                    }

                    @if (selectedRepType === RepType.Range) {
                    <ion-picker-column [value]="selectedMinValue" (ionChange)="selectedMinValue = $event.detail.value">
                        @for (option of repsOptions; track option) {
                        <ion-picker-column-option [value]="option">
                            {{ option }}
                        </ion-picker-column-option>
                        }
                    </ion-picker-column>

                    <ion-picker-column [value]="selectedMaxValue" (ionChange)="selectedMaxValue = $event.detail.value">
                        @for (option of repsOptions; track option) {
                        <ion-picker-column-option [value]="option">
                            {{ option }} {{ 'reps' | translate }}
                        </ion-picker-column-option>
                        }
                    </ion-picker-column>
                    }

                    @if (selectedRepType === RepType.Duration) {
                    <ion-picker-column [value]="selectedValue" (ionChange)="selectedValue = $event.detail.value">
                        @for (option of weightOptions; track option) {
                        <ion-picker-column-option [value]="option">
                            {{ option }} {{ 'sec' | translate }}
                        </ion-picker-column-option>
                        }
                    </ion-picker-column>
                    }
                </ion-picker>
            </div>
        </ion-content>
    </ng-template>
</ion-modal>