<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="header-title">
                {{ 'Select exercise' | translate }}
                @if(isLoading) {
                <ion-spinner [style.align-self]="'center'"> </ion-spinner>
                }

            </div>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">{{ 'Cancel' | translate }}</ion-button>
            <ion-button (click)="addSelected()" [strong]="true" color="primary">
                {{ 'Add' | translate }} ({{ getSelectedCount() }})
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearchChange($event)"
            placeholder="{{ 'Search' | translate }}" debounce="500">
        </ion-searchbar>
        <ion-button fill="clear" slot="end" (click)="openFilters()">
            <ion-icon name="filter-outline"></ion-icon>
            @if (appliedFiltersCount > 0) {
            <ion-badge color="primary">{{ appliedFiltersCount }}</ion-badge>
            }
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content #content scrollEvents="true" (ionScroll)="onScroll($event)">
    <ion-list>
        @for (exercise of exercises; track exercise.id) {
        <ion-item>
            <ion-button slot="start" fill="clear" size="small" (click)="openExerciseDetail(exercise)">
                <ion-icon name="information-circle-outline" color="medium"></ion-icon>
            </ion-button>

            <ion-label (click)="toggleExercise(exercise)" class="exercise-label">
                <ion-text [color]="exercise.selected ? 'primary' : ''">
                    <h2>{{ exercise.name }}</h2>
                </ion-text>

                <div class="key-tags">
                    @if(exercise.level) {
                    <ion-chip style="pointer-events: none;" size="small" color="primary" outline>
                        {{ exercise.level | translate }}
                    </ion-chip>
                    }
                    @if(exercise.equipment) {
                    <ion-chip style="pointer-events: none;" size="small" color="primary" outline>
                        {{ exercise.equipment | translate }}
                    </ion-chip>
                    }
                    @if(exercise.category) {
                    <ion-chip style="pointer-events: none;" size="small" color="primary" outline>
                        {{ exercise.category | translate }}
                    </ion-chip>
                    }
                </div>

                <ion-note color="medium" class="exercise-note">
                    @if(exercise.force) {
                    {{ exercise.force | translate }}
                    }
                    @if (exercise.mechanic) {
                    {{ exercise.mechanic | translate }}
                    }
                    @for(muscle of exercise.primaryMuscles; track $index) {
                    {{ muscle | translate }}
                    }
                    @for(muscle of exercise.secondaryMuscles; track $index) {
                    {{ muscle | translate }}
                    }
                </ion-note>
            </ion-label>

            <ion-checkbox slot="end" [(ngModel)]="exercise.selected" (click)="$event.stopPropagation()">
            </ion-checkbox>
        </ion-item>
        }

        @if (exercises.length === 0 && !isLoading) {
        <ion-item>
            <ion-label class="ion-text-center">{{ 'No exercises found' | translate }}</ion-label>
        </ion-item>
        }
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)" [disabled]="!hasMoreData">
        <ion-infinite-scroll-content [loadingText]="('Loading...' | translate) + '...'">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    @if (isLoading && exercises.length === 0) {
    <div class="loading-container">
        <ion-spinner></ion-spinner>
    </div>
    }

    <ion-fab [style.display]="!showScrollToTop ? 'none' : ''" vertical="bottom" horizontal="end" slot="fixed"
        class="animate__animated animate__fadeInUp">
        <ion-fab-button (click)="content.scrollToTop(300);" size="small">
            <ion-icon name="chevron-up-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>