<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'Workout' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <form [formGroup]="workoutForm" (ngSubmit)="saveChanges()">
        <div class="form">
            <ion-item lines="none" class="day-item" formArrayName="exercises">
                <ion-label>
                    @for (exercise of exercisesArray.controls; track $index; let exIndex = $index) {
                    <ion-item lines="none" [formGroupName]="exIndex" class="ion-no-border">
                        <app-exercise-form [style.width]="'100%'" [exercise]="exercise"
                            [canMoveExerciseDown]="$index < exercisesArray.controls.length - 1"
                            [canMoveExerciseUp]="$index > 0" 
                            (moveExerciseDownEvent)="moveExerciseDown($index)"
                            (moveExerciseUpEvent)="moveExerciseUp($index)"
                            (onRemoveExerciseEvent)="removeExercise(exIndex)">
                        </app-exercise-form>
                    </ion-item>
                    }
                    @empty {
                    <ion-label class="ion-text-center ion-padding" [color]="'medium'">
                        {{ 'No exercises added yet.' | translate }}
                    </ion-label>
                    }

                    <ion-button fill="clear" expand="block" (click)="addExercises()">
                        {{ 'Add exercise' | translate }}
                    </ion-button>
                </ion-label>
            </ion-item>
        </div>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="button-group ion-padding">
            <ion-button color="primary" [disabled]="workoutForm.invalid" expand="round" class="btn"
                (click)="saveChanges()">
                <ion-icon slot="start" name="play-outline"></ion-icon>
                {{ 'Start' | translate }}
            </ion-button>
        </div>
    </ion-toolbar>
</ion-footer>