.img_box {
    --width: 50px;
    width: var(--width);
    height: var(--width);
    min-width: var(--width);
    min-height: var(--width);
    border-radius: 50px;
}


.system-message {
    color: var(--ion-color-secondary) !important;
    display: flex;
    align-items: center;

    ion-icon {
        margin-right: 6px;
        font-size: 16px;
        color: var(--ion-color-secondary) !important;
    }
}

.text_box {
    width: calc(100% - 48px);
}

ion-list {
    height: 100%;

    ion-item {
        margin-bottom: 11px;

        .item-inner {
            .text_box {
                width: 100%;
                overflow: hidden;
                padding: 8px 15px;

                h2 {
                    margin: 0;
                    color: var(--white);
                    font-size: 1.11rem;
                    letter-spacing: 0.3px;
                    padding-bottom: 6px;

                    .item-title {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    small {
                        min-width: fit-content;
                        font-weight: 500;
                        color: var(--text-light);
                        font-size: .65rem;
                        display: block;
                        opacity: .5;
                    }
                }

                h3 {
                    margin: 0;
                    color: var(--text-light);
                    font-size: 0.73rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }
}