<ion-header class="modern-header">
    <ion-toolbar>
        <ion-title>{{ 'Chat' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openSearchUser()">
                <ion-icon name="search-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color ion-padding-x" fullscreen>
    <ion-refresher slot="fixed" (ionRefresh)="pullToRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="conversations-container">
        @for(chat of conversations; track chat.id) {
            @if (aiTrainers.OFF < aiTrainer && chat.isAI) {
                <div class="conversation-card animate__animated animate__fadeInUp" (click)="aiConversation(chat.id)">
                    <div class="conversation-header">
                        <div class="user-info">
                            <div class="img_box center_img">
                                @if (aiTrainers.RYPED == aiTrainer) {
                                <img [src]="'assets/images/RYPED.png'" class="crop_img">
                                }
                                @if (aiTrainers.RYPEM == aiTrainer) {
                                <img [src]="'assets/images/RYPEM.png'" class="crop_img">
                                }
                            </div>
                            <span class="conversation-name">
                                @if (aiTrainers.RYPED == aiTrainer) { Ed Ryp } @else { Em Ryp } - {{ 'AI Trainer' | translate }}
                            </span>
                        </div>
                        <span class="conversation-date">{{ chat.lastMessageDate | dateTime }}</span>
                        <div class="action-menu" (click)="deleteConversation(chat.id); $event.stopPropagation()">
                            <ion-icon name="trash-outline"></ion-icon>
                        </div>
                    </div>
                    @if (chat.lastMessage) {
                    <div class="last-message" [class.system-message]="true">
                        @if ('system' === 'system') {
                        <ion-icon name="alert-circle"></ion-icon>
                        }
                        <span>{{ chat.lastMessage }}</span>
                    </div>
                    }
                </div>
            }
            @else {
                <div class="conversation-card animate__animated animate__fadeInUp" (click)="conversation(chat.id)">
                    <div class="conversation-header">
                        <div class="user-info">
                            <div class="img_box center_img">
                                <img [src]="chat.avatar || 'assets/images/avatar.svg'" class="crop_img">
                            </div>
                            <span class="conversation-name">{{ chat.name }}</span>
                        </div>
                        <span class="conversation-date">{{ chat.time }}</span>
                        <div class="action-menu" (click)="deleteConversation(chat.id); $event.stopPropagation()">
                            <ion-icon name="trash-outline"></ion-icon>
                        </div>
                    </div>
                    @if (chat.lastMessage) {
                    <div class="last-message" [class.system-message]="chat.messageType === 'system'">
                        @if (chat.messageType === 'system') {
                        <ion-icon name="alert-circle"></ion-icon>
                        }
                        <span>{{ chat.lastMessage }}</span>
                    </div>
                    }
                </div>
            }
        }
        @empty {
        <app-no-data [text]="'No conversations yet.' | translate"></app-no-data>
        }
    </div>
</ion-content>

<ion-fab slot="fixed" horizontal="end" vertical="bottom" style="bottom: 0">
    <ion-fab-button>
        <ion-icon name="add" (click)="openLinkScreen()"></ion-icon>
    </ion-fab-button>
</ion-fab>

<app-continue-footer></app-continue-footer>