.md {

    ion-segment {
        overflow: hidden;
        margin: 0px;
        --background: var(--ion-toolbar-background);
        --min-height: 20px;
        --padding-top: 0;
        --padding-bottom: 0;

        border-radius: 10px;
        margin: 0px 5px;
    }

    ion-segment-button {
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 0.01em;
        text-transform: none;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-start: 0px;
        --padding-end: 0px;
        --color: var(--ion-color-medium);
        --color-checked: var(--ion-color-primary);
        --indicator-color: var(--ion-color-primary);
        --indicator-height: 2px;
        --background-checked: transparent;
        --border-width: 0;
        --border-style: none;
        margin: 0;
        min-height: min-content;

        // &::part(native)::slotted(ion-label) {
        //     line-height: 14px;
        //     margin: 0px !important;
        // }
    }

    .filled-segment {
        --background: var(--ion-background-color-step-100);
        padding: 2px;

        ion-segment-button {
            margin: 0;
            --border-radius: 4px;
            --indicator-height: 0;
            --background-checked: var(--ion-color-primary-tint);
            --color-checked: var(--ion-color-primary-contrast);
        }
    }
}