<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'notes_for' | translate }} {{exerciseName}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Cancel</ion-button>
            <ion-button (click)="save()" strong>Save</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-textarea [(ngModel)]="notesText" placeholder="{{ 'description' | translate }}..." rows="10"
        class="notes-textarea" autoGrow="true"></ion-textarea>
</ion-content>