<ion-header class="bg_transparent" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'Account' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <form [formGroup]="accountForm" (ngSubmit)="saveChanges()">
        <div class="form">
            <ion-list>
                <ion-item class="animate__animated animate__fadeInUp">
                    <ion-input formControlName="email" labelPlacement="floating" [label]="'Email' | translate"
                        type="email"></ion-input>
                </ion-item>
            </ion-list>
        </div>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="button-group ion-padding-x">
            <ion-button color="primary" class="m-center btn" [disabled]="resetingPWD" (click)="requestPWDReset()"> {{ 'Request password
                reset' | translate }} </ion-button>
        </div>
    </ion-toolbar>
    <ion-toolbar>
        <div class="button-group ion-padding-x">
            @if (MFAActive) {
            <ion-button color="danger" (click)="disableMFA()" class="m-center btn"> {{ 'Disable MFA' | translate }}
            </ion-button>
            } @else {
            <ion-button color="primary" (click)="activateMFA()" class="m-center btn"> {{ 'Actvate MFA' | translate }} </ion-button>
            }
        </div>
    </ion-toolbar>
    <ion-toolbar>
        <div class="button-group ion-padding-x">
            @if (isEditing) {
            <ion-button expand="round" color="light" (click)="cancelEditMode()" class="btn">
                {{ 'Cancel' | translate }}
            </ion-button>
            <ion-button expand="round" color="primary" class="btn" (click)="saveChanges()">
                {{ 'Save' | translate}}
            </ion-button>
            } @else {
            <ion-button color="primary" expand="round" class="btn" (click)="enterEditMode()">
                {{ 'Edit' | translate }}
            </ion-button>
            }
        </div>
    </ion-toolbar>
</ion-footer>