<ion-content class="bg_color sign-in-screen" fullscreen>
    <div class="background-image">
        <img src="assets/images/banner_img.png" alt="">
    </div>

    @if (!otpActive) {
    <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <div class="form-container">
            <div class="logo-section">
                <h1 class="logo-text">RYPM.</h1>
            </div>

            <div class="input-group">
                <label class="input-label">EMAIL</label>
                <div class="input-wrapper">
                    <ion-input formControlName="email" placeholder="Enter your Email" type="email" fill="solid"></ion-input>
                    <ion-icon name="mail-outline" class="input-icon"></ion-icon>
                </div>
            </div>

            <div class="input-group">
                <label class="input-label">PASSWORD</label>
                <div class="input-wrapper">
                    <ion-input formControlName="password" placeholder="Enter your password" type="password" fill="solid">
                        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                    </ion-input>
                </div>
            </div>

            <div class="forgot-password">
                <a (click)="forgot_password()">Forgot password?</a>
            </div>

            <ion-button expand="block" class="sign-in-button" (click)="signIn()">
                Sign In
            </ion-button>

            <div class="divider-text">Or continue with</div>

            <div class="social-buttons">
                <button type="button" class="social-button" (click)="signInGoogle()">
                    <ion-icon [src]="logoGoogle"></ion-icon>
                </button>
                <button type="button" class="social-button" (click)="signInMS()">
                    <ion-icon [src]="logoMS"></ion-icon>
                </button>
                <button type="button" class="social-button" (click)="signInGithub()">
                    <ion-icon [src]="logoGH"></ion-icon>
                </button>
            </div>

            <div class="register-link">
                No account? <a (click)="register()">Register</a>
            </div>

            <div class="version-info">
                RYPM. v{{version}}
            </div>
        </div>
    </form>
    } @else {
    <form>
        <div class="form">
            <ion-list lines="none">
                <ion-item>
                    <ion-input-otp fill="solid" (ionComplete)="completeOTPLogin($event)"
                        class="margin-auto" length="4"> {{ 'Didn\'t get a code?' | translate }} <a
                            (click)="resendOTP()">{{'Resend the code' | translate}}</a> </ion-input-otp>
                </ion-item>
                <ion-item class="ion-padding ion-text-center">
                    <ion-button slot="start" fill="clear" size="small" expand="round"
                        class="animate__animated animate__fadeInUp" (click)="otpActive = false">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                        {{'Back to log in' | translate}}
                    </ion-button>
                </ion-item>
            </ion-list>

        </div>
    </form>
    }

</ion-content>