<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- icon="chevron-back-outline" -->
            <ion-back-button [text]="''" [icon]="'close-outline'"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                {{'Sign in' | translate}}
                <span class="end" (click)="register()">
                    <ion-icon class="zmdi zmdi-plus"></ion-icon>
                    {{'Register' | translate}}
                </span>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="banner">
        <div class="banner_img center_img">
            <img src="assets/images/banner_img.png" class="crop_img">
        </div>
        <div class="logo animate__animated animate__fadeInUp">
            <img src="assets/images/logo.png">
        </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <div class="form">
            <ion-list>
                <ion-item class="animate__animated animate__fadeInUp">
                    <ion-input formControlName="email" [label]="'Email' | translate" labelPlacement="floating"
                        mode="md" type="email"></ion-input>
                </ion-item>
                <ion-item class="animate__animated animate__fadeInUp">
                    <ion-input formControlName="password" [label]="'Password' | translate" class="password" mode="md"
                        labelPlacement="floating" type="password">
                        <h3 class="end" (click)="forgot_password()">{{"forgot" | translate}}</h3>
                    </ion-input>
                </ion-item>
            </ion-list>
            <ion-button size="large" expand="round" class="btn animate__animated animate__fadeInUp"
                (click)="signIn()">{{'Sign In' | translate}}</ion-button>
            <div class="or_continue_with animate__animated animate__fadeInUp">
                <h3 class="ion-text-center">{{'Or continue with' | translate}}</h3>
                <ion-row>
                    <ion-col size="6">
                        <ion-button size="large" expand="round" fill="outline" class="btn" (click)="signInFacebook()">
                            <ion-icon class="zmdi zmdi-facebook"></ion-icon>
                            {{'Facebook' | translate}}</ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button size="large" expand="round" fill="outline" class="btn" (click)="signInGoogle()">
                            <ion-icon class="zmdi zmdi-google"></ion-icon>
                            {{'Google' | translate}}</ion-button>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </form>
</ion-content>